@import "./src/common/scss/variables.scss";

.cell-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-right: 2rem;

  &:last-child, &--no-right-margin {
    margin-right: 0 !important;
  }

  &__label-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__label {
    font-size: 14px;

    &.grey {
      color: $color-grey;
    }
  }

  &__field {
    position: relative;
    display: flex;
    align-items: center;
  }

  .custom-input, .select-box {
    width: 100%;
  }
  
  .tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
  }

  .optional-label {
    color: $color-grey;
    font-size: 16px;
    margin-left: 8px;
  }


  @media (max-width: 1023px) {
    .custom-input, .select-box {
      max-width: 100%;
    }
  }
  @media (max-width: 787px) {
    &__label {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
