.hamburger {
  width: 30px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  &:after {
    position: absolute;
    z-index: 1000;
    background: #FFFFFF;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    content: '';
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(40deg);
    transition: all 0.1s linear;
    transition-delay: 0s;
  }
  &.open  {
    &:after {
      transition-delay: 0.1s;
      opacity: 1;
    }
  }
}

.hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #FFFFFF;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 5px 5px 0;
}

.hamburger span:nth-child(odd) {
  left:0px;
  border-radius: 5px 0 0 5px;
}

.hamburger span:nth-child(1), .hamburger span:nth-child(2) {
  top: 0px;
}

.hamburger span:nth-child(3), .hamburger span:nth-child(4) {
  top: 10px;
}

.hamburger span:nth-child(5), .hamburger span:nth-child(6) {
  top: 20px;
}

.hamburger.open span:nth-child(1),.hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}

.hamburger.open span:nth-child(2),.hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.hamburger.open span:nth-child(1) {
  left: 1px;
  top: 4px;
}

.hamburger.open span:nth-child(2) {
  left: 14px;
  top: 5px;
}

// hide //
.hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
// hide //

.hamburger.open span:nth-child(5) {
  left: 0px;
  top: 16px;
}

.hamburger.open span:nth-child(6) {
  left: 14px;
  top: 16px;
}
