.widget {
  min-width: 700px;
  border-radius: 10px;
  position: relative;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    padding: 16px 100px;
    color: #3A414E;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 4px 15px rgba(#9A9A9A, 0.2);

    .title {
      font-weight: 900;
      font-size: 24px;
      line-height: 125%;
    }

    .subtitle {
      font-size: 14px;
    }
  }

  .section-form {
    padding: 32px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(#9A9A9A, 0.2);
  }

  &__interest-monthly-row {
    max-width: calc(100% - 250px);
  }

  .slider-form {
    max-width: calc(100% - 250px);
    margin-bottom: 2rem;

    &__info {
      display: flex;
      justify-content: space-between;

      .name {
        font-size: 16px;
        line-height: 150%;
        font-weight: 900;
      }

      .value {
        font-size: 16px;
        line-height: 150%;
        font-weight: 900;
        color: #3D1FC3;
      }
    }

    &__labels {
      display: flex;
      justify-content: space-between;

      font-size: 14px;
      color: #9A9A9A;
    }
  }

  .custom-estimate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem;
    max-width: 300px;
    min-height: 420px;
    box-shadow: 0px 4px 15px rgba(176, 176, 176, 0.2);
    position: absolute;
    right: -5%;
    bottom: 0;

    .enter-info-label {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
    }

    .savings {
      color: #3D1FC3;
      display: flex;
      flex-direction: column;
      align-items: center;

      .amount {
        display: flex;
        align-items: center;

        .dollar-sign {
          font-size: 2rem;
          font-weight: 700;
        }
        .value {
          font-size: 5rem;
          font-weight: 900;
        }
      }
    }

    .each-month-label {
      color: #3D1FC3;
      font-weight: bold;
      font-size: 28px;
      line-height: 150%;
      text-align: center;
    }

    .new-mo-payment {
      margin-top: 2rem;
      font-weight: bold;
      font-size: 14px;
      line-height: 170%;
      color: #9A9A9A;
    }

    .how-calculated {
      margin-bottom: 2rem;
      font-style: italic;
      font-size: 14px;
      line-height: 170%;
      cursor: pointer;
      //text-align: right;
      text-decoration-line: underline;
      color: #9A9A9A;
    }

    .loader {
      font-size: 30px;
      margin: 6rem 0;
    }
  }
}

.modal-calculating-info {

    &__header {
      display: flex;
      justify-content: center;
      font-size: 44px;
      margin-bottom: 32px;
    }

    p {
      font-size: 16px;
      line-height: 30px;

      &:first-of-type {
        margin-bottom: 32px;
      }
    }
  }

.custom-button {
  display: inline-block;
  height: 3.44rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.5rem 3rem;
  border-radius: .38rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #FFFFFF;
  background-color: #65DA98;
  border: 1px solid #65DA98;

  &:focus {
    outline: 0;
    background-color: darken(#65DA98, 10);
    border-color: darken(#65DA98, 10);
    box-shadow: 0 0 0 0.2rem rgba(darken(#65DA98, 10), 0.5);
  }
  &:hover {
    background-color: darken(#65DA98, 10);
  }

  &[disabled] {
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    cursor: not-allowed;
    &:focus {
      background-color: #C4C4C4;
      border-color: #C4C4C4;
      box-shadow: none;
    }
    &:hover {
      background-color: #C4C4C4;
    }
  }

}


@media (max-width: 787px) {

  .widget {
    position: unset;
    min-width: unset;
    width: 100%;

    &__header {
      padding: 16px 50px;
      text-align: center;
    }

    .section-form {
      padding: 32px 0 0 0;

      .custom-estimate {
        position: static;
        box-shadow: 5px -2px 15px rgba(176, 176, 176, 0.2);
        width: 100%;
        max-width: unset;
      }

      &>*:not(.custom-estimate) {
        padding: 0 32px;
      }
    }

    &__interest-monthly-row, .slider-form {
      max-width: unset;
    }
  }
}
