@import "./src/common/scss/variables.scss";

.select-box {
  position: relative;
  width: 100%;
  max-width: 300px;

  &.invalid {
    .select-container .select__control {
      border: 2px solid $color-red;
      &--is-focused {
        border: 2px solid $color-red;
        box-shadow: 0 0 0 .2rem rgba($color-red, .2);
      }
    }
  }
  .select-container {
    .select {
      &__menu {
        z-index: 100;
      }
      &__option {
        padding: .7rem 1rem;
        border: 1px solid $color-select-border;
      }
      &__value-container {
        padding: .7rem 1rem;

        .icon-option {
          display: flex;
          align-items: center;

          &__label {
            margin-left: 8px;
          }
        }
      }
      &__placeholder {
        color: $color-grey;;
      }
      &__indicator {
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;
        border-radius: $border-radius;
      }
      &__dropdown-indicator {
        svg {
          fill: $color-purple;
        }
      }
      &__clear-indicator {
        svg {
          fill: $color-red;
        }
        &:hover {
          background-color: rgba($color-grey, 0.2);
        }
      }
      &__control {
        //border: 2px solid rgba($color-grey, .2);
        border: 2px solid rgba($color-grey, .3);
        border-radius: 6px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        height: 55px;
        &--is-focused {
          border: 2px solid $color-primary;
          box-shadow: 0 0 0 .2rem rgba($color-primary, .2);
        }
  
        &--is-disabled {
          opacity: 0.6;
          background: rgba($color-grey, 0.1);
          border-color: transparent;
   
          .select__dropdown-indicator {
            svg {
              display: none;
              
            }
          }
          .select__placeholder {
            color:transparent;
          }
        }
      }
      &__dropdown-indicator {
        svg {
          transition: all 0.15s ease-in-out;
        }
      }
      &__indicator-separator {
        display: none;
      }
      &__option {
        cursor: pointer;
        &--is-focused {
          background: rgba($color-primary, 0.2);
          color: $color-primary;

          .icon-option svg path {
            fill: $color-primary;
          }
        }
        &--is-selected {
          background: rgba($color-primary, 0.8);
          color: $color-white;

          .icon-option svg path {
            fill: $color-white;
          }
        }

        .icon-option {
          display: flex;
          align-items: center;

          &__label {
            margin-left: 8px;
          }
        }
      }
      &__indicators {
        .clearIndicator {
          cursor: pointer;
        }
      }
    }
  }
}
