@import "./variables.scss";

* {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

input {
  font-size: 16px;
}

// Fix Tooltip heigth
#root ~ div {
 height: 0;
}
#root ~ div.react-toast-notifications__container {
  height: auto;
}

*::selection {
  background: rgba($color-primary,.3);
}

input::placeholder {
  color: $color-grey;
}

ul {
  list-style-type: none;
  display: flex;
}

// GLOBAL CLASSES
.link {
  text-decoration: none;
  color: $color-white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: 0;

  &--grey {
    color: $color-dark-grey;
    text-decoration: underline;
  }

  &--green {
    color: $color-secondary;
    //text-decoration: underline;
    text-align: center;
  }

  &--light-grey {
    color: $color-grey;
    text-decoration: underline;
  }

  &--blue{
    color: $color-primary;
    text-decoration: underline;
  }

  &--white {
    color: $color-white;
    font-weight: normal;
    text-decoration: underline;
  }
}

.page {
  display: flex;
  flex-direction: column;

  @media (max-width: 787px) {
    margin-bottom: 1.5rem;
  }
}

.form-page {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  .section-form {
    width: 100%;
    margin-bottom: 2rem;
  }

  &__row {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  
    &:last-child {
      margin-bottom: -1rem;
    }

    .cell-form {
      flex-grow: 1;
      max-width: calc((100% - 40px) / 2);
      //width: 100%;
    }
  }

  &__foot {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    //flex-direction: column;

    button {
      width: 100%;
      max-width: 300px;
      margin-bottom: 1rem;
      &[type="submit"] {
        font-size: 20px;
      }
    }

    .back-button {
      width: 20%;
    }
  }

  .foot--right {
    margin-left: auto;
  }



  @media (max-width: 1023px) {
    &__row {
      .cell-form {
        max-width: calc((100% - 20px) / 2);
      }
    }
  }

  @media (max-width: 787px) {
    &__row {
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      .cell-form {
        flex-grow: 1;
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

.bold, b {
  font-weight: bold;
}
