// COLORS
$color-primary:       #3D1FC3;
$color-secondary:     #65DA98;

$color-black:         #000000;
$color-dark-grey:     #3A414E;
$color-grey:          #9A9A9A;
$color-lighter-grey:  #303133;
$color-border:        #CBCBCB;
$color-select-border: #EFEFEF;
$color-white:         #FFFFFF;

$color-red:           #DA6565;
$color-yellow:        #FFB51D;
$color-purple:        #818BFF;
$color-gr:            #C4C4C4;
$color-side-bar:      #F8F8F8;
$color-icon-grey:     #707070;

$google-blue:         #3876ED;
$google-focus:        #3367d6;

$color-primary-transparent: rgba(67, 32, 225, 0.1);

// Components
//
// Define common padding and border radius sizes and more.

$border-radius:      .38rem;
$height-form-item:  3.44rem;
$height-header:  75px;

// Icons in base64
$chek-grey: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOSAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgOC41TDcgMTRMMTcgMiIgc3Ryb2tlPSIjM0QxRkM0IiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K";
$chek-blue: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOSAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgOC41TDcgMTRMMTcgMiIgc3Ryb2tlPSIjOUE5QTlBIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K";
$chek-white: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOSAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgOC41TDcgMTRMMTcgMiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==";
