@import "../../scss/variables";

.header-registration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 50px;
  z-index: 100;
  position: relative;
  background-color: $color-primary;

  .refinance-logo {
    font-size: 235px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
    .link {
      min-width: 100px;
      padding: 20px 10px;
      display: block;
      text-align: center;
      position: relative;
      &:after {
        content: '';
        display: none;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 10px;
        position: absolute;
        background-color: $color-yellow;
      }
      &:hover {
        &:after {
          display: block;
        }
      }
      &:focus {
        outline: 2px solid $color-yellow;
      }
    }
  }

  &__right {
    width: 245px;
    padding: 5px 16px 5px 10px;
    background: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & > * {
      font-weight: 900;
      color: $color-white;
    }
    .icon {
      font-size: 30px;
      margin-right: 8px;

      &__dashboard {
        font-size: 26px;
      }
    }
  }

  &__count {
    margin-right: 0.4em;
  }

  &__plus {
    display: none;
  }

  .hamburger {
    display: none;
  }

  // TABLET
  @media (max-width: 1023px) {
    padding: 20px 30px;
    &__item {
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    .refinance-logo {
      font-size: 200px;
    }
  }

  // MOBILE
  @media (max-width: 787px) {
    padding: 15px 20px;
    &__list {
      position: absolute;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc((100vmin - 75px) * 2);
      height: calc((100vmin - 75px) * 2);
      border-radius: 50%;
      top: -200%;
      left: -200%;
      z-index: -1;
      transform: translate(-100%, -100%);
      // background-color: $color-primary;
      background-color: $color-dark-grey;
      box-shadow: 4px 4px 10px 5px rgba($color-dark-grey, 0.25);
      transition: all 1s ease;
      padding: 10px;

      &.open {
        top: 60px;
        left: 0;
        transform: translate(-50%, -50%);
        transition: all 0.4s ease;
      }
      .link {
        color: $color-white;
      }
    }

    &__item {
      margin-left: 42%;
      &:first-child {
        margin-top: 38%;
      }
    }

    &__status {
      display: none;
    }

    &__plus {
      display: block;
      font-size: 24px;
      font-weight: bold;
      margin-left: 5px;
    }
    
    .hamburger {
      display: block;
    }

    .refinance-logo {
      font-size: 156px;
      max-height: 35px;
    }
  }
}
